* {
    margin: 0px;
    padding: 0%;
    
}
.Nav {
    display: flex;
    gap: 14rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    background-color: rgb(41, 37, 37);
}
a {
    text-decoration: none !important;
    color: white !important;
    text-shadow: 0px 0px 5px #e1e1e1, 0px 0px 1px #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover{
    transition: all 93ms;
    transform: scale(1.2);
}